html {
  margin: 10px 20px;
  background-color: #ebf4ff;
}

body {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
  grid-gap: 20px;
  width: 60%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}

p,
li {
  font-family: "Sarabun", "Arial", sans-serif;
}

h1,
h2 {
  font-family: "Archivo Narrow", "Arial", sans-serif;
  border-bottom: 2px solid grey;
}

.photo {
  grid-area: 1 / 1 / 2 / 2;
  padding: 20px 0 0 20px;
}

.contact {
  grid-area: 2 / 1 / 3 / 2;
  padding-left: 20px;
}

.language {
  grid-area: 3 / 1 / 4 / 2;
  padding-left: 20px;
}

.summary {
  grid-area: 1 / 2 / 2 / 4;
  padding-right: 20px;
}

.skills {
  grid-area: 2 / 2 / 3 / 4;
  padding-right: 20px;
}

.code {
  grid-area: 3 / 2 / 4 / 4;
  padding-right: 20px;
}

.experience {
  grid-area: 4 / 2 / 5 / 4;
  padding-right: 20px;
}

.education {
  grid-area: 5 / 2 / 6 / 4;
  padding-right: 20px;
}

.example {
  padding: 10px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #e3e3e3;
}
